* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  background: linear-gradient(45deg, #BFC8CF, #778691);
}

h1 {
  font-size: 36px;
}


input {
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 8px;
  /* width: 100%; */
}

.wrapper {
  padding: 10px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgb(245, 240, 245, .9);
  border-radius: 10px;
}

#app {
  display: flex;
  gap: 15px;
  flex-direction: column;
}

.navbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.statusToggler {
  cursor: pointer;
}

.searchBar {
  width: 100%;
  margin-top: 15px;
}

#addTask {
  width: 100%;
}

#addTask > button {
  border: none;
}

button {
  cursor: pointer;
}

#taskList {
  padding: 25px 0;

  display: flex;
  justify-content: center;
  flex-direction: column;

  list-style-type: none;
}

#taskList > label {
  display: flex;
  gap: 10px;
}

.task-item {
  display: flex;
  justify-content: space-between;
}

.form-control {
  display: flex;
  gap: 10px;
}

.delete {
  cursor: pointer;
  border: none;
}