// colors
$gradient: linear-gradient(45deg, #1B13A6 49.59%, #443CDF 88.57%);

//font-size
$fontsize__nav--pc: 1.6rem;
$fontsize__nav--tab: 1.4rem;
$fontsize__mainTheme: 5.6rem;

//font-color
$white: #fff;
$light_white: #B6B3EB;