.awareness__bg {
  background-image: url('../assets/bg.png');
}

.awareness {
  max-width: 1440px; //given width of design
  margin: 0 auto;
  padding: 62px 80px 62px 50px;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  &__texts {
    width: 100%;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;

    &--heading {
      width: 500px;
      font-size: 48px;
      font-weight: 700;
    }

    &--desc {
      width: 535px;
      font-size: 20px;
      font-weight: 400;
    }
  }

  &__boxes {
    width: 100%;
    padding-top: 40px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
    &-1 {
      width: 450px;
      height: 500px;
      padding: 40px 55px 75px 40px;
      border-radius: 49.896px 149.688px 49.896px 49.896px;
      background: rgba(196, 196, 196, 0.2);
      border-top-right-radius: 150px;

      display: flex;
      flex-direction: column;
      justify-content: space-between;
      img {
        height: 70px;
        width: 70px;
        border-radius: 20px;
        background: rgba(196, 196, 196, 0.1);
        padding: 10px;
      }

      h6 {
        font-size: 24px;
        font-weight: 700;
        color: $greenish-blue;
      }

      p {
        font-size: 18px;
        font-weight: 500;
      }
    }

    &-2,
    &-3 {
      width: 350px;
      height: 350px;
      border-radius: 49.896px;
      border: 2.994px solid rgba(255, 255, 255, 0.5);
      padding: 40px 55px 75px 40px;

      display: flex;
      flex-direction: column;
      justify-content: space-between;
      img {
        height: 70px;
        width: 70px;
        border-radius: 20px;
        background: rgba(196, 196, 196, 0.1);
        padding: 10px;
      }

      h6 {
        font-size: 24px;
        font-weight: 700;
        color: $white;
      }
    }
  }
}

.awareness__readmore {
  color: $greenish-blue;
  font-size: 18px;
  font-weight: 700;
  display: flex;
  align-items: center;
  cursor: pointer;

  span {
    padding: 10px;

    img {
      height: 30px;
      width: 30px;
      border: none;
      background: none;
      padding: 0;
    }
  }
}
