* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
}
// img {
//   width: 100%;
// }
.app {
  width: 100vw;

  color: $white;

  &__wrapper {
    width: 100%;

    &--bgImage {
      background-image: url(../assets/bg.png);
    }
  }
}

// img {
//   width: 100%;
// }


// @media screen and (max-width: 1135px) {
//   p { 
//     font-size: 18px;
//   }
// }

// @media screen and (max-width: 430px) {
//   p { 
//     font-size: 12px;
//   }
// }

