.hero {
  max-width: 1440px; //given width of design
  margin: 0 auto;
  padding: 24px 120px 24px 50px;
  width: 100%;
  &__wrapper {
    display: flex;
    gap: 220px;
  }

  &__texts {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 40px;
    &--msg {
      color: $greenish-blue;
      font-size: 18px;
      font-weight: 700;
    }
    &--heading {
      color: $white;
      font-size: 35px;
      font-weight: 800;
      span {
        color: $greenish-blue;
      }
    }

    &--nigeria {
      color: rgba(255, 255, 255, 0.7);
      font-size: 18px;
      font-weight: 700;
    }

    &--buttons {
      display: flex;
      gap: 20px;
    }
  }

  &__images {
       width: 100%;
    &--wrapper {
      display: flex;
      flex-direction: column;
      position: relative;
    }


    // for doctors block
    &--doctors {
      display: flex;
      border-radius: 20px;
      background: rgba(196, 196, 196, 0.2);
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1),
        0px 4px 4px 0px rgba(0, 0, 0, 0.25);

      width: 320px;
      flex-shrink: 0;
      padding: 20px;
      align-items: center;

      position: absolute;
      top: 513px;
      left: -44px;

      img {
          height: 50px;
          width: 50px;
      }

      p { 
        color: $white;
        font-size: 18px;
        font-weight: 700;
          display: flex;
          flex-direction: column;
          padding-left: 20px;

        span {
          color: $greenish-blue;
        }
      }
    }

    // for hero images
    figure {
      position: relative;
      display: flex;
      align-items: center;
      width: 532px;

    }

    &--smallImg {
      width: 80px;
      height: 80px;
      padding: 10px;
      background-color: $white;
      border-radius: 20px;
     //  z-index: 1;
      position: absolute;
      max-width: 100%;
    }

//     &--vaccine {
      
//     }

    &--animation {
      left: -40px;
    }

    &--virus {
      left: 495px;
    }
  }
}

@media screen and (max-width: 768px) {
     .hero {
          &__wrapper {
               flex-direction: column;
               flex-wrap: wrap;
               gap: 25px;
          }

          &__images {
               padding: 0 42px;
          }
     }
}

@media screen and (max-width: 376px) {
     .hero {
          &__images {
               figure {
                    width: 256px;
               }
          }
     }
}

