* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

body {
  margin: 80px;
}

h1 {
  margin-bottom: 50px;
}
table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px; /* Add margin as needed */
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}
